.label {
  --label-color-name: var(--red-6-hsl);
  color: hsl(var(--label-color-name) / 100%);
  border-color: hsl(var(--label-color-name) / 30%);
  background-color: hsl(var(--label-color-name) / 10%);
}
